doctype html

html
  head
    title Car Control
    link(rel='stylesheet' href='../node_modules/semantic-ui-css/semantic.css')
    link(rel='stylesheet' href='./index.less')
  
  body.unselectable
    #app
    script(src='./index.ts')

